################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProductMW/.vs/ProductMW/FileContentIndex
.vs/